@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  
}

@media (prefers-color-scheme: dark) {
  :root {
  
  }
}



html {
  scroll-behavior: smooth;
}

body {
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
  font-family: Arial, Helvetica, sans-serif;
}

section {
  scroll-snap-align: start;
}
